
#inicio{
    background-color: #f7f6f6;
}

/* Left */
#logo-inicio{
    width: 55%;
    margin-top: 45%;
}


/* Right */
.inicio-R {
    background-image: url(/assets/img/DailyStandAPP-inicio-fondo-derecho.PNG);
    background-repeat: no-repeat;
    /* background-size: auto; */
    background-size: cover;
}