@import url('https://fonts.googleapis.com/css2?family=Amiko:wght@400;600;700&display=swap');
* {
    font-family: 'Amiko', sans-serif;
}

body{
    height: 100vh;
    background-color: #F7F6F6;
}

section,.div-form{
    height: 75%;
}

footer{
    height: 25%;
}

.div-form{
    height: 70;
}

.div-titulo{
    height: 30%;
}

.email{
    width: 30px;
}

.logo{
    width: 20%;
}
/* 768, 992, 1200, 1400 */
@media (max-width: 576px){
    .logo{
        width: 50%;
    }
}