/* derecha */

.inicio-R {
    background-image: url(../assets/img/DSApp-inicio-2-658x657.jpg);
    background-position: center;
}


/* izquierda */

.inicio-img-L {
    max-width: 30%;
}

.heading-3 {
    width: 507px;
    height: 99px;
    color: #000000;
    font-family: "Amiko";
    font-weight: bold;
    font-size: 36px;
    text-align: center;
}